/* GLOBAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/* WRAPPER */
.wrapper{         /*contiene tutto*/
  width: 100%;  
  height: 100vh;
}

/* ASIDE */
/* aside-top */
aside {
  float: left;
  position: relative;
  width: 15%;
  height: calc(100vh - 70px);
  padding: 15px;
  background-color: black;
  color: white;
  overflow-y: auto;
}
.logo {
  width: 60%;
  padding-bottom: 20px;
}

aside .options {
  position: relative;
  padding-bottom: 10px;
}

aside .options .font-awesome {
  float: left;
}

aside .options .text-font-awesome {
  float: left;
}
h4 {
  padding-bottom: 5px;
}
h5 {
  color: #74767b;
  padding-bottom: 5px;
  cursor: pointer;
}

i {
  color: #74767b;
  padding-right: 5px;
}
#btn-bigger {
  /* font-size: 33px; */
}
/* aside-bottom */
aside .aside-bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: black;
}

.aside-bottom .download,
.artist {
  width: 80%;
  margin: auto;
  height: 100%;
  border-bottom: 1px solid gray;
}

.aside-bottom .artist {
  border-bottom: none;
}

.aside-bottom .download .left-side,
.artist .left-side {
  float: left;
  width: 20%;
  height: 100%;
}

.aside-bottom .download .right-side,
.artist .right-side {
  float: left;
  width: 80%;
  height: 100%;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  width: calc(100% - 15%);
  height: 70px;
  text-align: right;
  padding: 15px 25px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
} 
 .btn-upgrade {
  background-color: #080b12;
  color: white;
  padding: 7px 50px;
  border-radius: 20px;
  border: 2px solid white;
  cursor: pointer;
}
/* MAIN */
main {
  float: left;
  width: 85%;
  height: calc(100vh - 70px);
  background-color: #141922;
  color: white;
  overflow-y: auto;
  padding-top: 80px;
}
main .choose-category {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  width: 100%;
}
main .choose-category ul {
  display: flex;
  list-style: none;
  cursor: pointer;
}

main .choose-category ul li {
  font-size: 12px;
  padding: 10px;
  color: #74767b;
}
main .container-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  flex-shrink: 0;
}
.container-cards .card {
  margin: 1.7%;
}

main .card-top {
  width: 11vw; /*cosi rimangono quadrati*/
  height: 11vw;
}
main .card-top .album {
  position: relative;
}
.album:hover {
  cursor: pointer;
}
.album:hover .overlay-album{
  display: block;
}

.overlay-album {
  display: none;
  position: absolute;
  width: 11vw;
  height: 11vw;
  background-color: rgba(0, 0, 0, 0.5);
}
.play-btn{
  font-size: 50px;
  color: white;

}
img {
  width: 100%;
}

main .card-bottom {
  width: 11vw;
  text-align: center;
}

h6 {
  color: #585b61;
}

/* FOOTER/PLAYER */
footer {
  position: fixed;
  bottom: 0;
  float: left;
  width: 100%;
  height: 70px;
  padding: 10px;
  background-color: #282828;
  color: white;
}

footer .container-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  height: 100%;
}

.container-footer .left-footer {
  display: flex;
  align-items: center;
}
.container-footer .left-footer .cover-album {
  width: 3vw;
  height: 3vw;
  background-color: tan;
}
.container-footer .left-footer .info {
  padding: 30px;
}
.container-footer .center-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-footer .player-bottom .start-song,
.time-line,
.end-song {
  float: left;
}
.center-footer .player-bottom {
  display: flex;
  align-items: center;
}
.player-bottom .time-line {
  width: 500px;
  height: 2px;
  margin: 15px;
  background-color: #5a5a5a;
}

.player-bottom .time-line .time-line-song {
  width: 60px;
  height: 2px;
  background-color: white;
}
.container-footer .right-footer {
  display: flex;
  align-items: center;
}

.right-footer .volume {
  width: 90px;
  height: 2px;
  background-color: #5a5a5a;
}

.right-footer .volume .time-line-volume {
  width: 50px;
  height: 2px;
  background-color: white;
}
