/* GLOBAL */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Montserrat', sans-serif;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
/* ASIDE */
aside{
  float: left;
  width: 15%;
  height: 100vh;
  background-color: black;
  color: white;
}
/* HEADER */
header{
  float: left;
  width: 85%;
  height: 70px;
  background-color: #080b12;
  color: white;
}
/* MAIN */
main{
  float: left;
  width: 85%;
  height:calc(100vh - 140px);
  background-color: #141922;
  color: white;
}
main .choose-category{
  width: 100%;
}
main .choose-category ul{
  display: flex;
  justify-content: center;
  list-style: none;
  cursor: pointer;
}

main .choose-category ul li{
  padding: 10px;
  color: #74767b;
}
main .container-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-start;
  flex-shrink: 0;
}
.container-cards .card{
  width: 13vw;
  height: 13vw;
  margin: 2px;
}

main .card-top{
  height: 160px;
  background-color: teal;
}
main .card-bottom{
  height: 50px;
  background-color: thistle;
}


/* FOOTER/PLAYER */
footer{
  float: left;
  width: 85%;
  height: 70px;
  background-color: #282828;
  color: white;
}